@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Employee Bank Software</h1>
    <p class="lead">Welcome, employees of this bank. Use this application in assisting you in dealing with customer's accounts and their transactions.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

