@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Employee Bank Software</h1>
    <p class="lead">Welcome, employees of this bank. Use this application in assisting you in dealing with customers, their accounts, and their transactions.</p>
    
</div>

